<Server>
	<LoginServer>
		<Port>8484</Port>
		<MaxUsers>10</MaxUsers>
		<Servers>1</Servers>
		<Channels>1</Channels>
		<Pin>0</Pin>
	</LoginServer>
	<GameServer>
		<Port>8888</Port>
		<EXP>10</EXP>
		<QuestEXP>10</QuestEXP>
	<MySQL>
		<Port>3006</Port>
		<Username>root</Username>
		<Password></Password>
		<DataBase>maplestory</DataBase>
	</MySQL>
</Server>
